In [ ]:
#Shivaani T (Data Science And Business Analytics Intern at The Sparks Foundation)
#Task 1:Prediction using Supervised ML
#(To predict the percentage of student based on the number of study hours)

In [8]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [9]:
df = pd.read_csv('https://raw.githubusercontent.com/AdiPersonalWorks/Random/master/student_scores%20-%20student_scores.csv')

In [10]:
df.shape

(25, 2)

In [11]:
df.head(10)

   Hours  Scores
0    2.5      21
1    5.1      47
2    3.2      27
3    8.5      75
4    3.5      30
5    1.5      20
6    9.2      88
7    5.5      60
8    8.3      81
9    2.7      25

In [12]:
df.describe()

           Hours     Scores
count  25.000000  25.000000
mean    5.012000  51.480000
std     2.525094  25.286887
min     1.100000  17.000000
25%     2.700000  30.000000
50%     4.800000  47.000000
75%     7.400000  75.000000
max     9.200000  95.000000

In [13]:
x=df['Hours'].values.reshape(-1,1)
y=df['Scores'].values.reshape(-1,1)
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=0)

In [14]:
model=LinearRegression()
model.fit(x_train,y_train)

LinearRegression()

In [15]:
print(model.intercept_) #slope
print(model.coef_) #y-intercept

[2.01816004]
[[9.91065648]]

In [16]:
y_pred=model.predict(x_test)
df1=pd.DataFrame({'Actual':y_test.flatten(),'predicted':y_pred.flatten()})
df1

   Actual  predicted
0      20  16.884145
1      27  33.732261
2      69  75.357018
3      30  26.794801
4      62  60.491033

In [21]:
from sklearn import metrics  
print(metrics.mean_absolute_error(y_test,y_pred))
print(metrics.mean_squared_error(y_test,y_pred))
print(np.sqrt(metrics.mean_squared_error(y_test,y_pred)))

4.183859899002975
21.598769307217406
4.647447612100367

In [22]:
hours = np.array([9.25])
hours = hours.reshape(-1,1)
custom_pred = model.predict(hours)
print("No of Hours = {}".format(hours))
print("Predicted Score = {}".format(custom_pred[0]))

No of Hours = [[9.25]]
Predicted Score = [93.69173249]

In [ ]:
#Conclusion: Successfully predicted the student based on the number of working hours.